<div class="container">
    <form [formGroup]="form" (keyup.enter)="resetPasswordButtonClick()">
        <div class="containerTitle">
            Reset Password
        </div>
        <div class="containerInformation">
            <p>
                Please enter the following information to register an account<br />
                For any problems please contact XXXX
            </p>
        </div>
        <div class="userInput">
            <!--Username-->
            <input type="email" formControlName="username" placeholder="Username" class="form-input"
                [ngClass]="{ 'is-invalid': submitted && username.errors }" />
            <!--Username Errors-->
            <div *ngIf="submitted && username.errors" class="invalid-information-provided">
                <div *ngIf="username.errors.required">Username is required</div>
                <div *ngIf="username.errors.email">Invalid username format</div>
            </div>
            <!--Password-->
            <input type="password" formControlName="password" placeholder="Password" class="form-input"
                [ngClass]="{ 'is-invalid': submitted && password.errors }" />
            <!--Password Errors-->
            <div *ngIf="submitted && password.errors" class="invalid-information-provided">
                <div *ngIf="password.errors.required">Password is required</div>
                <div *ngIf="password.errors.minlength">Minimum Password length required: {{minimumPasswordLength}}</div>
            </div>
            <!--Confirm Password-->
            <input type="password" formControlName="confirmPassword" placeholder="Confirm Password" class="form-input"
                [ngClass]="{ 'is-invalid': submitted && confirmPassword.errors }" />
            <!--Confirm Password Errors-->
            <div *ngIf="submitted && confirmPassword.errors" class="invalid-information-provided">
                <div *ngIf="confirmPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
            <!--Buttons-->
            <button type="button" class="SubmitButton" (click)="resetPasswordButtonClick()"
                value="RegisterButton">Reset Password</button>
        </div>
        <p>{{feedbackinfo}}</p>
        <div class="NavigationArea">
            <button type="button" class="NavigationButton" routerLink="/forgotPassword" value="Forgot">Forgot
                Password</button>
            <button type="button" class="NavigationButton" routerLink="/login" value="Register">Login Page</button>
        </div>
    </form>
</div>