<div class="container">
    <form [formGroup]="form" (keyup.enter)="resetPasswordButtonClick()">
        <div class="containerTitle">
            Reset Account Password</div>
        <div class="containerInformation">
            <p>
                Please enter your email address and click Reset Password<br />
                An email will be send to the provided email address with information on how<br />
                to reset your password<br />
                For any problems please contact XXX
            </p>
        </div>
        <div class="userInput">
            <!--Username-->
            <input type="email" formControlName="username" placeholder="Username" class="form-input"
                [ngClass]="{ 'is-invalid': submitted && username.errors }" />
            <!--Username Errors-->
            <div *ngIf="submitted && username.errors" class="invalid-information-provided">
                <div *ngIf="username.errors.required">Username is required</div>
                <div *ngIf="username.errors.email">Invalid username format</div>
            </div>
            <button type="button" class="SubmitButton" (click)="resetPasswordButtonClick()" value="reset">Reset
                Password</button>
        </div>
        <p>{{feedbackinfo}}</p>
        <div class="NavigationArea">
            <button type="button" class="NavigationButton" routerLink="/login" value="LoginButton">Login</button>
            <button type="button" class="NavigationButton" routerLink="/registerAccount" value="RegisterButton">Register
                Account</button>
        </div>
    </form>
</div>