<div class=incompleteavaliabledocumentscontainer>
    <div class=incompleteDocumentsTitlesContainer>
        <div class=incompleteDocumenttitle>Document Name</div>
        <div class=incompleteDocumenttitle>Date Created</div>
        <div class=incompleteDocumenttitle>Date Last Modified</div>
        <div class=incompleteDocumenttitle>Open Document</div>
    </div>
    <div class=incompleteDocumentsGridContainer>
        <!-- //created then last mod columns-->
        <div *ngFor="let documentinfo of avaliableDocuments; index as i" class=document>
            <div class=incompleteDocumentInformation>{{documentinfo.DocumentName}}</div>
            <div class=incompleteDocumentInformation> {{documentinfo.DateCreated}}</div>
            <div class=incompleteDocumentInformation>{{documentinfo.DateLastModified}}</div>
            <button class=selectionButton (click)=getDocument(documentinfo.DocumentUUID)>open</button>
        </div>
    </div>
</div>