.incompleteavaliabledocumentscontainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: black;
}

.document {
    display: grid;
    grid-template-columns: repeat(1, 1fr 2fr 2fr 1fr);
    
}

.incompleteDocumentInformation{
    line-height:calc(19px + 1vw);
    padding-left: 5px;
}

.incompleteDocumentsTitlesContainer{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    background-color: black;
    row-gap: 5px;
}

.incompleteDocumentsGridContainer{
    display: grid;
    background-color: white;
    row-gap: 1px;
}

.incompleteDocumenttitle{
border: 1px solid black;
color: white;
padding-left: 5px;
}