<div class='otherinfo'>
    {{ time | date: 'hh:mm:ss a' }}
</div>

<div id=dash class=dashboardcontainer>
    <div id=navbar class=navigation>
        <button class=sidebarbutton (click)="WelcomeButtonClick()">Home Page</button>
        <button class=sidebarbutton (click)="AvaliableDocumentsButtonClick()">New Documents</button>
        <button class=sidebarbutton (click)="IncompleteDocumentsAvaliableClick()">Current Documents</button>
        <button class=sidebarbutton (click)="DocumentsReviewClick()">Review Documents</button>
        <!--Will need a ngIf based on if account is a document owner/reviewer-->
        <button class=sidebarbutton (click)="GraphicsClick()">Graphics</button>
    </div>
    <div class=outlet>
        <router-outlet></router-outlet>
    </div>
</div>