<!--
    TODO - By defalt hide all images, and have a button to show/hide all up the top and a button by each image to show/hide
    TODO - load tasks and notifications based on values in worktasks submitted, will be difficult as multiple may result in the same task?
-->
<div class=workDocumentContainer *ngIf="loadedDocument">
    <div class=header>
        <div class=headLogoContainer>
            <img src="https://nks-maintenance.online/Server/public/images/Logo/NKKReliabilityLogo(White).png">
        </div>
        <div class=documentTitleContainer>
            <div class=documentType>{{currentWorkDocumentData.Type}}</div>
            <div class=documentTitle>{{currentWorkDocumentData.Title}}</div>

            <div class=headerInfo><b>Responsible Work Centre</b>: {{currentWorkDocumentData.WorkCenter}}</div>



            <div class=headerInfo><b>Total Time Required</b> - {{currentWorkDocumentData.TotalDuration}} hours</div>


        </div>
        <div class=documentInformationContainer>
            <div class=documentInformationContainerSub>
                <div class=DIC-Title>Document #:</div>
                <div class=DIC-Information>{{currentWorkDocumentData.SapID}}</div>
            </div>
            <div class=documentInformationContainerSub>
                <div class=DIC-Title>DocumentRevision:</div>
                <div class=DIC-Information>{{currentWorkDocumentData.Revision}}</div>
            </div>
            <div class=documentInformationContainerSub>
                <div class=DIC-Title>Document Creator:</div>
                <div class=DIC-Information>{{currentWorkDocumentData.Owner}}</div>
                <div class=DIC-SubInformation>{{currentWorkDocumentData.OwnerPosition}}</div>
            </div>
        </div>

        <div class=documentAccessedContainer>
            <div class=DAC-Title>Document Accessed:</div>
            <div class=accessDate>{{currentWorkDocumentData.AccessDate}}</div>
            <div class=printedWarning>Printed copies of document are uncontrolled</div>
        </div>
    </div>
    <div class=sectionContainer>
        <div class=sectionTitle>Context &<br>Purpose</div>
        <div class=contextInformationContainer>
            <div class=ContextInformation>{{currentWorkDocumentData.Context}}</div>
        </div>
    </div>
    <div class=sectionContainer>
        <div class=sectionTitle>Completion<br>Codes</div>
        <div class=GridContainer>
            <div class=completionCodesGridTitles>
                <div class=columnTitle>Icon</div>
                <div class=columnTitle>Completion Code Description</div>
            </div>
            <div class=completionCodesTableItemsGrid *ngFor="let CodeInformation of currentWorkDocumentData.CompletionCodes">
                <div class=CompletionCodeContainer><img src={{CodeInformation.IconHyperLink}}> </div>
                <div class=completionCodesGridCodeContainer>
                    <div class=completionCodeInformation>{{CodeInformation.Description}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class=sectionContainer>
        <div class=sectionTitle>Authority to<br>Maintain</div>
        <div class=Container>
            <div class=authorityToMaintainGridTitles>
                <div class=columnTitle>Competency</div>
                <div class=centerTitle>Code</div>
            </div>
            <div class=authorityToMaintainItemsGrid *ngFor="let AuthorityValue of currentWorkDocumentData.AuthorityToMaintainInformation">
                <div class=informationText>{{AuthorityValue.CompetencyInformation}}</div>
                <div class=centerInformation>{{AuthorityValue.AuthorityCode}}</div>
            </div>
        </div>
    </div>
    <div class=sectionContainer>
        <div class=sectionTitle>Equipment &<br>Materials</div>
        <div class=GridContainer>
            <div class=equipmentAndMaterialsGridTitles>
                <div class=centerTitle>Qty</div>
                <div class=columnTitle>Information</div>
                <div class=centerTitle>Material<br>Number</div>
            </div>
            <div class=equipmentAndMaterialsItemsGrid *ngFor="let equipmentMaterialValue of currentWorkDocumentData.EquipmentMaterialInformation">
                <div class=centerInformation>{{equipmentMaterialValue.Quantity}}</div>
                <div class=informationText>{{equipmentMaterialValue.Information}}</div>
                <div class=centerInformation>{{equipmentMaterialValue.MaterialNumber}}</div>
            </div>
        </div>
    </div>
    <div *ngIf="currentWorkDocumentData.PrestartTasksInformation" class=sectionContainer>
        <div class=headerTitle>Work Preperation</div>
        <div class=sectionTitle>Pre-Start<br>Checklist</div>
        <!--Spans section-->
        <div class=GridContainer>
            <div class=PrestartTaskGridTitlesContainer>
                <div class=GridWorkColumnTitle>Duration<br>(min)</div>
                <div class=GridWorkColumnTitle>Tasks</div>
                <div class=GridWorkColumnTitle>Completion Code</div>
            </div>
            <div *ngFor="let prestartTask of currentWorkDocumentData.PrestartTasksInformation">
                <div id={{prestartTask.UUID}} [ngClass]="{'errorTask': prestartTask.Error, 'PrestartTaskGrid': !prestartTask.Error}">
                    <div class=GridInformationText>{{prestartTask.Duration}}min</div>
                    <div class=informationText>
                        <div class=prestartTaskActionsContainer>
                            <div class=workTaskTitle>
                                <div class=GridWorkItemTitle>&bull; {{prestartTask.Name}}</div>
                            </div>
                            <div class=PrestartTaskInformation>{{prestartTask.Information}}</div>
                            <div class=GridItemButtonContainer>
                                <button *ngIf="makeSaveValueButtonsAvaliable" class=InputButton (click)="submitPrestartTask(prestartTask.UUID,false)"><img class=submitImg
                                    src="https://nks-maintenance.online/Server/public/images/Icons/SubmitIcon.png">&nbsp;Save
                                Task</button>
                                <div class=GridButtonSeperator></div>
                                <button class=InputButton *ngIf=" makeSaveValueButtonsAvaliable" (click)="submitPrestartTask(prestartTask.UUID,true)"><img class=submitImg
                                    src="https://nks-maintenance.online/Server/public/images/Icons/SkipButton.png">&nbsp;Skip
                                Task</button>
                                <div class=GridButtonSeperator></div>
                                <button class=InputButton (click)="generateTaskObservationComment(prestartTask.UUID,prestartTask.Name)"><img
                                    class=submitImg
                                    src="https://nks-maintenance.online/Server/public/images/Icons/SpeechBubble.png">&nbsp;
                                Comment </button>
                            </div>
                        </div>
                    </div>
                    <div class=workGridCodeContainer>
                        <div class=CompletionCodeContainer><img src={{prestartTask.CompletionCode}}></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=SectionContainerTopTitle>
        <div class=spanHeaderTitle>Work Execution</div>
        <div class=TitleSpan>Work Instructions</div>
        <!--Spans section-->
        <div class=GridContainer>
            <div class=WorkExecutionGridTitles>
                <div class=GridWorkColumnTitle>Duration<br>(min)</div>
                <div class=GridWorkColumnTitle>Tasks</div>
                <div class=GridWorkColumnTitle>Limits</div>
                <div class=GridWorkColumnTitle>Completion<br>Code</div>
            </div>
            <div *ngFor="let workTask of currentWorkDocumentData.WorkTasksInformation">
                <div id={{workTask.UUID}} [ngClass]="{'workExecutionERRORItemsGrid': workTask.Error, 'WorkTaskGrid': !workTask.Error}">
                    <div class=GridInformationText>{{workTask.Duration}}min</div>
                    <div class=workExecutionTaskContainer>
                        <div class=GridWorkItemTitle>&bull; {{workTask.Name}}</div>
                        <!--TODO will need to see what the value of typeOfInput is to determine what to show-->
                        <div class=workGridItemImage> <img src="https://nks-maintenance.online/Server/public/images/Pictures/image.png"></div>
                        <div class=workGridItemInformationContainer>
                            <div class=worktaskInformation>{{workTask.Information}}:&nbsp;
                                <!--//TODO https://stackoverflow.com/questions/41465542/angular2-input-field-to-accept-only-numbers-->
                                <input [disabled]="inputDisabled" class=worktaskuserInput id="{{workTask.InputID}}" [value]=workTask.SubmittedValue>{{workTask.Units}}
                            </div>
                        </div>
                        <div class=GridItemButtonContainer>
                            <button *ngIf="makeSaveValueButtonsAvaliable" class=InputButton (click)="submitWorkTask(workTask.UUID,workTask.TypeOfInput,false)"><img class=submitImg
                                    src="https://nks-maintenance.online/Server/public/images/Icons/SubmitIcon.png">&nbsp;Save
                                Task</button>
                            <div class=GridButtonSeperator></div>
                            <button class=InputButton *ngIf=" makeSaveValueButtonsAvaliable" (click)="submitWorkTask(workTask.UUID,workTask.TypeOfInput,true)"><img class=submitImg
                                    src="https://nks-maintenance.online/Server/public/images/Icons/SkipButton.png">&nbsp;Skip
                                Task</button>
                            <div class=GridButtonSeperator></div>
                            <button class=InputButton (click)="generateTaskObservationComment(workTask.UUID,workTask.Name)"><img
                                    class=submitImg
                                    src="https://nks-maintenance.online/Server/public/images/Icons/SpeechBubble.png">&nbsp;
                                Comment </button>
                        </div>
                    </div>
                    <div class=limitsGridContainer>
                        <div class=limitsGrid>
                            <!--Check if value exists and if does display, High and Low-->
                            <div class=workGridInformationSubTitle>{{workTask.UnitsTitle}}:</div>
                            <div class=GridInformationText *ngIf="workTask.Values.High">
                                &lt;{{workTask.Values.High}}{{workTask.Units}} </div>
                            <div class=GridInformationText *ngIf="workTask.Values.Low">
                                &gt;{{workTask.Values.Low}}{{workTask.Units}}</div>
                        </div>
                    </div>
                    <div class=workGridCodeContainer>
                        <div class=CompletionCodeContainer><img src={{workTask.CompletionCode}}></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=SectionContainerTopTitle>
        <div class=spanHeaderTitle>Work Close-Out</div>
        <div class=sectionContainer>
            <div class=sectionTitle>Comments &<br>General<br>Observations</div>
            <div class=CommentsContainer>
                <div class=commentsAndObsGrid *ngFor="let comment of overallDocumentComments">
                    <div class=Comment>{{comment}}</div>
                </div>
                <div class=commentSectionButtonContainer>
                    <button class=InputButton (click)="generateGeneralObservationComment()"><img
                                    class=submitImg
                                    src="https://nks-maintenance.online/Server/public/images/Icons/SpeechBubble.png">&nbsp;
                                Comment </button>
                </div>
            </div>

        </div>
        <div *ngIf="currentWorkDocumentData.FutherWorkTasksInformation && displayFurtherWork" class=sectionContainer>
            <div class=sectionTitle>Further Work Required</div>
            <div class=GridContainer>
                <div class=futherWorkRequiredGridTitles>
                    <div class=columnTitle>Notification<br>Code</div>
                    <div class=columnTitle>Description</div>
                    <div class=centerTitle>Completion<br>Code</div>
                    <!--TODO need to check if task is to be shown!!! Also look at a switch that is turned on once one is avaliable to show the grid titles-->
                </div>
                <div *ngFor="let furtherwork of currentWorkDocumentData.FutherWorkTasksInformation">
                    <div *ngIf="furtherWorkTaskTracker.get(furtherwork.UUID)" [ngClass]="{'futherWorkRequiredItemsERRORGrid': furtherwork.Error, 'futherWorkRequiredItemsGrid': !furtherwork.Error}">
                        <div class=FurtherWorkUserInputContainer>
                            <input [disabled]="inputDisabled" class=FurtherworkuserInput id={{furtherwork.UUID}} [value]=furtherwork.SubmittedValue>
                            <div class=FurtherWorkGridItemButtonContainer>
                                <button *ngIf="makeSaveValueButtonsAvaliable" class=FurtherWorkInputButton (click)="submitFurtherWorkRequired(furtherwork.UUID)"><img class=submitImg
                                    src="https://nks-maintenance.online/Server/public/images/Icons/SubmitIcon.png">&nbsp;Save
                                Task</button>
                            </div>
                        </div>
                        <div class=informationText>{{furtherwork.Information}}</div>
                        <div class=workGridCodeContainer>
                            <div class=CompletionCodeContainer><img src={{furtherwork.CompletionCode}}></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="currentWorkDocumentData.CloseoutTasksInformation && displayCloseoutTasks" class=sectionContainer>
        <div class=sectionTitle>Close-Out Checklist</div>
        <div class=GridContainer>
            <div class=PrestartTaskGridTitlesContainer>
                <div class=GridWorkColumnTitle>Duration<br>(min)</div>
                <div class=GridWorkColumnTitle>Tasks</div>
                <div class=GridWorkColumnTitle>Completion Code</div>
            </div>
            <div *ngFor="let closeoutTask of currentWorkDocumentData.CloseoutTasksInformation">
                <div id={{closeoutTask.UUID}} [ngClass]="{'errorTask': closeoutTask.Error, 'PrestartTaskGrid': !closeoutTask.Error}">
                    <div class=GridInformationText>{{closeoutTask.Duration}}min</div>
                    <div class=informationText>
                        <div class=prestartTaskActionsContainer>
                            <div class=workTaskTitle>
                                <div class=GridWorkItemTitle>&bull; {{closeoutTask.Name}}</div>
                            </div>
                            <div class=PrestartTaskInformation>{{closeoutTask.Information}}</div>
                            <div class=GridItemButtonContainer>
                                <button *ngIf="makeSaveValueButtonsAvaliable" class=InputButton (click)="submitCloseoutTask(closeoutTask.UUID,false)"><img class=submitImg
                                    src="https://nks-maintenance.online/Server/public/images/Icons/SubmitIcon.png">&nbsp;Save
                                Task</button>
                                <div class=GridButtonSeperator></div>
                                <button class=InputButton *ngIf=" makeSaveValueButtonsAvaliable" (click)="submitCloseoutTask(closeoutTask.UUID,true)"><img class=submitImg
                                    src="https://nks-maintenance.online/Server/public/images/Icons/SkipButton.png">&nbsp;Skip
                                Task</button>
                                <div class=GridButtonSeperator></div>
                                <button class=InputButton (click)="generateTaskObservationComment(closeoutTask.UUID,closeoutTask.Name)"><img
                                    class=submitImg
                                    src="https://nks-maintenance.online/Server/public/images/Icons/SpeechBubble.png">&nbsp;
                                Comment </button>
                            </div>
                        </div>
                    </div>
                    <div class=workGridCodeContainer>
                        <div class=CompletionCodeContainer><img src={{closeoutTask.CompletionCode}}></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=completionSignOff>
        <!--TODO will need to do others for other submits in section-->
        <div class=completionSignOffRow>
            <div class=completionSignOffHeaderTitle>Signature</div>
            <div class=completionTitles>Technician<br>Name</div>
            <div class=completionSignOffData>
                <div>{{currentWorkDocumentData.Technician}}</div>
                <div class=DIC-SubInformation>{{currentWorkDocumentData.TechnicianPosition}}</div>
            </div>
            <div class=completionTitles>Signature</div>
            <div class=completionSignOffData>
                <div *ngIf="!currentWorkDocumentData.Submitted">
                    <button (click)="submitSheet()">Submit</button>
                    <!--Send technicianID value -->
                </div>
                <div *ngIf="currentWorkDocumentData.Submitted">
                    <img class=signature src="">
                </div>
            </div>
            <!--Have a button with submit that placeholds the signature-->
            <div class=completionTitles>Completion<br>Date</div>
            <div class=completionSignOffData>
                <div>{{currentWorkDocumentData.SubmitDate}}</div>
            </div>
        </div>
        <div class=completionSignOffRow>
            <div class=completionTitles>Supervisor<br>Name</div>
            <div class=completionSignOffData>
                <div>{{currentWorkDocumentData.Reviewer}}</div>
                <div class=DIC-SubInformation>{{currentWorkDocumentData.ReviewerPosition}}</div>
            </div>
            <div class=completionTitles>Signature</div>
            <div class=completionSignOffData>
                <div *ngIf="reviewstate && currentWorkDocumentData.Submitted">
                    <button (click)="submitReview(true)">Accept</button>
                    <button (click)="submitReview(false)">Decline</button>
                    <!--Send technicianID value -->
                </div>
                <div *ngIf="reviewstate && currentWorkDocumentData.Submitted">
                    <img class=signature src="">
                </div>
            </div>
            <div class=completionTitles>Review<br>Date</div>
            <div class=completionSignOffData></div>
            <!--Owner if required due to something not done and signed off by supervisor-->
        </div>
        <div class=completionSignOffRow>
            <div class=completionTitles>Owners<br>Name</div>
            <div class=completionSignOffData></div>
            <div class=completionTitles>Signature</div>
            <div class=completionSignOffData></div>
            <div class=completionTitles>Review<br>Date</div>
            <div class=completionSignOffData></div>
        </div>
    </div>
</div>