<!--
    TODO - By defalt hide all images, and have a button to show/hide all up the top and a button by each image to show/hide
    TODO - load tasks and notifications based on values in worktasks submitted, will be difficult as multiple may result in the same task?
-->
<div class=workDocumentContainer *ngIf="loadedDocument">
    <div class=header>
        <div class=logoContainer>
            <img class=logo src="{{currentWorkDocumentData.Logo}}">
        </div>
        <div class=documentTitleContainer>
            <div class=documentType>{{currentWorkDocumentData.Type}}</div>
            <div class=documentTitle>{{currentWorkDocumentData.Title}}</div>
            <div class=documentTitleContainerSub>
                <div class=DTC-Title>Responsible Work Centre:</div>
                <div class=DTC-Information>{{currentWorkDocumentData.WorkCenter}}</div>
            </div>

            <div class=documentTitleContainerSub>
                <div class=DTC-Title>Total Duration(hrs):</div>
                <div class=DTC-Information>{{currentWorkDocumentData.TotalDuration}}</div>
            </div>

        </div>
        <div class=documentInformationContainer>
            <div class=documentInformationContainerSub>
                <div class=DIC-Title>Document #:</div>
                <div class=DIC-Information>{{currentWorkDocumentData.SapID}}</div>
            </div>
            <div class=documentInformationContainerSub>
                <div class=DIC-Title>DocumentRevision:</div>
                <div class=DIC-Information>{{currentWorkDocumentData.Revision}}</div>
            </div>
            <div class=documentInformationContainerSub>
                <div class=DIC-Title>Document Ownser:</div>
                <div class=DIC-Information>{{currentWorkDocumentData.Owner}}</div>
                <div class=DIC-SubInformation>{{currentWorkDocumentData.OwnerPosition}}</div>
            </div>
        </div>

        <div class=documentAccessedContainer>
            <div class=DAC-Title>Document Accessed:</div>
            <div class=accessDate>{{currentWorkDocumentData.AccessDate}}</div>
            <div class=printedWarning>Printed copies of document are uncontrolled</div>
        </div>
    </div>
    <div class=sectionContainer>
        <div class=sectionTitle>Context & Purpose</div>
        <div class=informationText>{{currentWorkDocumentData.Context}}</div>
    </div>
    <div class=sectionContainer>
        <div class=sectionTitle>Completion Codes</div>
        <div class=GridContainer>
            <div class=completionCodesGridTitles>
                <div class=columnTitle>Legend</div>
                <div class=columnTitle>Completion Code Description</div>
            </div>
            <div class=completionCodesTableItemsGrid
                *ngFor="let CodeInformation of currentWorkDocumentData.CompletionCodes">
                <div class=checkboxgridItem><img src={{CodeInformation.IconHyperLink}}> </div>
                <div class=informationText>{{CodeInformation.Description}}</div>
            </div>
        </div>
    </div>
    <div class=sectionContainer>
        <div class=sectionTitle>Authority to Maintain</div>
        <div class=Container>
            <div class=authorityToMaintainGridTitles>
                <div class=columnTitle>Competency</div>
                <div class=columnTitle>Completion Code</div>
            </div>
            <div class=authorityToMaintainItemsGrid
                *ngFor="let AuthorityValue of currentWorkDocumentData.AuthorityToMaintainInformation">
                <div class=informationText>{{AuthorityValue.CompetencyInformation}}</div>
                <div class=informationText>{{AuthorityValue.AuthorityCode}}</div>
            </div>
        </div>
    </div>
    <div class=sectionContainer>
        <div class=sectionTitle>Equipment & Materials</div>
        <div class=GridContainer>
            <div class=equipmentAndMaterialsGridTitles>
                <div class=columnTitle>Quantity</div>
                <div class=columnTitle>Information</div>
                <div class=columnTitle>Material Number</div>
            </div>
            <div class=equipmentAndMaterialsItemsGrid
                *ngFor="let equipmentMaterialValue of currentWorkDocumentData.EquipmentMaterialInformation">
                <div class=informationText>{{equipmentMaterialValue.Quantity}}</div>
                <div class=informationText>{{equipmentMaterialValue.Information}}</div>
                <div class=informationText>{{equipmentMaterialValue.MaterialNumber}}</div>
            </div>
        </div>
    </div>
    <div *ngIf="currentWorkDocumentData.PrestartTasksInformation" class=sectionContainer>
        <div class=headerTitle>Work Preperation</div>
        <div class=sectionTitle>Pre-Start Checklist</div>
        <!--Spans section-->
        <div class=GridContainer>
            <div class=prestartTasksGridTitles>
                <div class=columnTitle>Duration(hrs)</div>
                <div class=columnTitle>Tasks</div>
                <div class=columnTitle>Completion Code</div>
            </div>
            <div *ngFor="let prestartTask of currentWorkDocumentData.PrestartTasksInformation">
                <div id={{prestartTask.UUID}}
                    [ngClass]="{'errorTask': prestartTask.Error, 'prestartTasksItemsGrid': !prestartTask.Error}">
                    <div class=workgridItem>{{prestartTask.Duration}}</div>
                    <div class=workgridItem>
                        <div class=prestartTaskActionsContainer>
                            <div class=workTaskTitle>
                                <div class=workgridItemActionTitle>{{prestartTask.Name}}</div>
                                <button class=inputbutton *ngIf=" makeSaveValueButtonsAvaliable"
                                    (click)="submitPrestartTask(prestartTask.UUID,true)">Skip</button>
                            </div>
                            <button class=inputbutton
                                (click)="generateTaskObservationComment(prestartTask.UUID,prestartTask.Name)">Add
                                comment</button>
                            <div class=taskItem>{{prestartTask.Information}}</div>
                            <div class=buttonContainer>
                                <button class=inputbutton *ngIf="makeSaveValueButtonsAvaliable"
                                    (click)="submitPrestartTask(prestartTask.UUID,false)">Complete</button>

                            </div>
                        </div>
                    </div>
                    <div class=workgridItem><img src={{prestartTask.CompletionCode}}></div>
                </div>
            </div>
        </div>
    </div>
    <div class=workExecution>
        <div class=spanHeaderTitle>Work Execution</div>
        <div class=spanTitle>Work Instructions</div>
        <!--Spans section-->
        <div class=GridContainer>
            <div class=workExecutionGridTitles>
                <div class=columnTitle>Duration(hrs)</div>
                <div class=columnTitle>Tasks</div>
                <div class=columnTitle>Limits</div>
                <div class=columnTitle>Completion Code</div>
            </div>
            <div *ngFor="let workTask of currentWorkDocumentData.WorkTasksInformation">
                <div id={{workTask.UUID}}
                    [ngClass]="{'workExecutionERRORItemsGrid': workTask.Error, 'workExecutionItemsGrid': !workTask.Error}">
                    <div class=workgridItem>{{workTask.Duration}}</div>
                    <div class=workgridItem>
                        <div class=workExecutionTaskContainer>
                            <div class=workTaskTitle>
                                <div class=workgridItemActionTitle>{{workTask.Name}}</div>
                                <!--TODO will need to see what the value of typeOfInput is to determine what to show-->
                                <button class=inputbutton *ngIf=" makeSaveValueButtonsAvaliable"
                                    (click)="submitWorkTask(workTask.UUID,workTask.TypeOfInput,true)">Skip Task</button>
                                <button class=inputbutton
                                    (click)="generateTaskObservationComment(workTask.UUID,workTask.Name)">Add
                                    comment</button>
                            </div>
                            <div class=taskItem>{{workTask.Information}}</div>
                            <div class=taskItem><img src={{workTask.Image}}></div>
                            <!--Need to have images start minimised-->
                            <div class=taskInputFlexContainer>
                                <div class=taskInputGridContainer>
                                    <div>Input Value:</div>
                                    <!--//TODO https://stackoverflow.com/questions/41465542/angular2-input-field-to-accept-only-numbers-->
                                    <input [disabled]="inputDisabled" class=taskValueInput id="{{workTask.InputID}}"
                                        [value]=workTask.SubmittedValue>
                                    <button *ngIf="makeSaveValueButtonsAvaliable" class=inputbutton
                                        (click)="submitWorkTask(workTask.UUID,workTask.TypeOfInput,false)">SaveValue</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=workgridItem>
                        <div class=limitsGrid>
                            <!--Check if value exists and if does display, High and Low-->
                            <div *ngIf="workTask.Values.High">&lt;{{workTask.Values.High}}{{workTask.Units}} </div>
                            <div *ngIf="workTask.Values.Low">&gt;{{workTask.Values.Low}}{{workTask.Units}}</div>
                        </div>
                    </div>
                    <div class=workgridItem><img src={{workTask.CompletionCode}}></div>
                </div>
            </div>
        </div>
    </div>
    <div class=workCloseOut>
        <div class=spanHeaderTitle>Work Close-Out</div>
        <div class=CommentsSectionContainer>
            <div class=sectionTitle>Comments & General Observations</div>
            <div class=CommentsContainer>
                <div class=commentsAndObsGrid *ngFor="let comment of overallDocumentComments">
                    <div class=informationText>{{comment}}</div>
                </div>

            </div>
            <button class=inputbutton (click)="generateGeneralObservationComment()">Add New Comment</button>
        </div>
        <div *ngIf="currentWorkDocumentData.FutherWorkTasksInformation && displayFurtherWork" class=sectionContainer>
            <div class=sectionTitle>Further Work Required</div>
            <div class=GridContainer>
                <div class=futherWorkRequiredGridTitles>
                    <div class=columnTitle>NotificationCode</div>
                    <div class=columnTitle>Notification Description</div>
                    <div class=columnTitle>Completion Code</div>
                    <!--TODO need to check if task is to be shown!!! Also look at a switch that is turned on once one is avaliable to show the grid titles-->
                </div>
                <div *ngFor="let furtherwork of currentWorkDocumentData.FutherWorkTasksInformation">
                    <div
                        [ngClass]="{'futherWorkRequiredItemsERRORGrid': furtherwork.Error, 'futherWorkRequiredItemsGrid': !furtherwork.Error}">
                        <div class=workgridItem>
                            <div class=notificationInfoContainer>
                                <input [disabled]="inputDisabled" id={{furtherwork.UUID}}
                                    [value]=furtherwork.SubmittedValue>
                                <button *ngIf=" makeSaveValueButtonsAvaliable"
                                    (click)="submitFurtherWorkRequired(furtherwork.UUID)">Save
                                    Code</button>
                                <button class=inputbutton
                                    (click)="generateTaskObservationComment(furtherwork.UUID,furtherwork.Name)">Add
                                    comment</button>
                            </div>

                        </div>
                        <div class=workgridItem>{{furtherwork.Information}}</div>
                        <div class=workgridItem><img src={{furtherwork.CompletionCode}}></div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="currentWorkDocumentData.CloseoutTasksInformation && displayCloseoutTasks" class=sectionContainer>
            <div class=sectionTitle>Close-Out Checklist</div>
            <div class=GridContainer>
                <div class=closeOutChecklistGridTitles>
                    <div class=columnTitle>Duration(hrs)</div>
                    <div class=columnTitle>Tasks</div>
                    <div class=columnTitle>Completion Code</div>
                </div>

                <div *ngFor="let closeOutTask of currentWorkDocumentData.CloseoutTasksInformation">
                    <div id={{closeOutTask.Name}} *ngIf="closeoutTaskTracker.get(closeOutTask.UUID)"
                        [ngClass]="{'errorTask': closeOutTask.Error, 'closeOutChecklistGrid': !closeOutTask.Error}">

                        <div class=workgridItem>{{closeOutTask.duration}}</div>
                        <div class=workgridItem>
                            <div class=prestartTaskActionsContainer>
                                <div class=workTaskTitle>
                                    <div class=workgridItemActionTitle>{{closeOutTask.Name}}</div>
                                    <button class=inputbutton *ngIf=" makeSaveValueButtonsAvaliable"
                                        (click)="submitCloseoutTask(closeOutTask.UUID,true)">Skip</button>
                                </div>
                                <div class=taskItem>{{closeOutTask.information}}</div>
                                <div class=buttonContainer>
                                    <button class=inputbutton *ngIf="makeSaveValueButtonsAvaliable"
                                        (click)="submitCloseoutTask(closeOutTask.UUID,false)">Complete</button>
                                    <button class=inputbutton
                                        (click)="generateTaskObservationComment(closeOutTask.UUID,closeOutTask.Name)">Add
                                        comment</button>
                                </div>

                            </div>
                        </div>
                        <div class=workgridItem><img src={{closeOutTask.CompletionCode}}></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=completionSignOff>
        <!--TODO will need to do others for other submits in section-->
        <div class=technician>
            <div class=completionSignOffHeaderTitle>Completion Sign-Off</div>
            <div class=sectionTitle>Technician Name</div>
            <div class=completionSignOffName>
                <div>{{currentWorkDocumentData.Technician}}</div>
                <div class=DIC-SubInformation>{{currentWorkDocumentData.TechnicianPosition}}</div>
            </div>
            <div class=sectionTitle>Technician Signature</div>
            <div class=completionSignOffSignature>
                <div *ngIf="!currentWorkDocumentData.Submitted">
                    <button (click)="submitSheet()">Submit</button>
                    <!--Send technicianID value -->
                </div>
                <div *ngIf="currentWorkDocumentData.Submitted">
                    <img class=signature src="">
                </div>
            </div>
            <!--Have a button with submit that placeholds the signature-->
            <div class=sectionTitle>Completion Timestamp</div>
            <div class=completionSignOffTimeStamp>
                <div>{{currentWorkDocumentData.SubmitDate}}</div>
            </div>
        </div>
        <div class=supervisor>
            <div class=sectionTitle>Supervisor Name</div>
            <div class=completionSignOffName>
                <div>{{currentWorkDocumentData.Reviewer}}</div>
                <div class=DIC-SubInformation>{{currentWorkDocumentData.ReviewerPosition}}</div>
            </div>
            <div class=sectionTitle>Supervisor Signature</div>
            <div class=completionSignOffSignature>
                <div *ngIf="reviewstate && currentWorkDocumentData.Submitted">
                    <button (click)="submitReview(true)">Accept</button>
                    <button (click)="submitReview(false)">Decline</button>
                    <!--Send technicianID value -->
                </div>
                <div *ngIf="reviewstate && currentWorkDocumentData.Submitted">
                    <img class=signature src="">
                </div>
            </div>
            <div class=sectionTitle>Review Date</div>
            <div class=completionSignOffTimeStamp></div>
            <!--Owner if required due to something not done and signed off by supervisor-->
        </div>
        <div class=documentOwner>
            <div class=sectionTitle>Document Owners Name</div>
            <div class=completionSignOffName></div>
            <div class=sectionTitle>Document Owners Signature</div>
            <div class=completionSignOffSignature></div>
            <div class=sectionTitle>Review Date</div>
            <div class=completionSignOffTimeStamp></div>
        </div>
    </div>
</div>